button {
    background-color: #999999;
    border: solid 2px #cccccc;
    margin: 8px 4px 4px 4px;
    font-size: 14px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body {
    background-color: #aaaaaa;
    overflow: hidden;
}

.rpanel {
    float: right;
    width: 300px;
    border: 2px solid #222222;
    background-color: #dddddd;
    /*background-color: #00ff00;
    /*overflow-x:*/
    overflow-y: auto;
    margin-bottom: 8px;
}


.title {
    color: #ffffff;
    float: left;
    padding-left: 8px;
    font-size: 26px;
    margin-top: 7px;
}

.spacer {
    float: right;
}

.menubar {
    background-color: #444444;
    height: 40px;
    margin-bottom: 8px;
    width: 100%;
    float: left;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.map {
    background-color: #fff00;
    display: inline-block;
    margin: 0;
}