button {
    background-color: #999999;
    border: solid 2px #cccccc;
    margin: 8px 4px 4px 4px;
    font-size: 14px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.collapse_icon {
    width: 20px;
    height: 20px;
    margin: 7px 0px 0px 7px;
    
}

.rpanel {
    float: right;
    width: 300px;
    border: 2px solid #222222;
    background-color: #dddddd;
    /*background-color: #00ff00;
    /*overflow-x:*/
    overflow-y: auto;
    margin-bottom: 8px;
}

.collapsed {
    width: 35px;
    /*border: 0px;*/
    overflow-y: none;
    overflow-x: none;
}

.instructions {
    margin: 7px 105px 5px 0;
    font-size: 20px;
}

.content {
    margin: 45px 7px 7px -8px;
}

.spacer {
    color: #ffffff;
    float: right;
}

.layer {
    width: 200px;
    margin: 10px 6px 5px 0;
}

